@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap");
@font-face {
  font-family: "Neue Haas";
  src: url(../assets/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: "Osiris";
  src: url(../assets/fonts/Osiris.woff2);
}
@font-face {
  font-family: "Kusanagi";
  src: url(../assets/fonts/Kusanagi.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial !important;
}

html, body {
  min-height: 100%;
  height: auto;
}

:root {
  --black: #111111;
  --gray: #222222;
  --white: #ffffff;
  --secondaryColor: #b0ff05;
  --mainColor: #111111;
  --xs-sizing: 8px;
  --s-sizing: 16px;
  --m-sizing: 24px;
  --l-sizing: 32px;
  --xl-sizing: 64px;
  --xxl-sizing: 120px;
  --padding: 50px;
  --spacer:80px;
}

::-moz-selection {
  background-color: var(--secondaryColor);
  color: var(--black);
  -webkit-text-fill-color: var(--black);
}

::selection {
  background-color: var(--secondaryColor);
  color: var(--black);
  -webkit-text-fill-color: var(--black);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container-small {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1, h2, h3 {
  font-weight: 500;
  font-family: "Osiris", "Neue Haas", sans-serif;
}

.section-title {
  text-align: center;
  font-size: 44px;
  color: var(--white);
  padding: var(--padding);
}

/*  SCROLLBAR   */
*::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: var(--secondaryColor);
}

*::-webkit-scrollbar-thumb {
  background: var(--secondaryColor);
}

@media only screen and (max-width: 468px) {
  .section-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .project-title h1 {
    font-size: 2px;
  }
}
.root {
  overflow-x: hidden;
  position: relative;
}

.project-title {
  margin-top: var(--spacer);
  display: flex;
  padding: var(--padding);
  flex-direction: column;
  align-items: center;
  gap: var(--xs-sizing);
}
.project-title .blur2 {
  position: absolute;
  left: -20%;
  transform: scale(1.4);
  pointer-events: none;
  opacity: 0.4;
}
.project-title h1 {
  font-size: 44px;
  margin-bottom: 20px;
  background-image: linear-gradient(270deg, black, white 69%);
  -webkit-background-clip: text;
          background-clip: text;
}
.project-title h2 {
  font-size: 24px;
  font-family: "Neue Haas", sans-serif;
  color: #636363;
}

.project-img-wrapper {
  width: 100vw;
  margin: 0 auto;
  height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.project-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.two-col-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.two-col-img img {
  width: 49%;
}

@media only screen and (max-width: 468px) {
  .project-title {
    padding: 30px;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .project-title .blur2 {
    position: absolute;
    left: -20%;
    transform: scale(1.4);
    pointer-events: none;
    opacity: 0.4;
  }
  .project-title h1 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .project-title h2 {
    font-size: 16px;
  }
  .project-img-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 50px;
  }
  .container-small {
    width: 95%;
  }
  .two-col-img {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .two-col-img img {
    width: 96%;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */