@import "Library";
@import "Responsive";

.project-title {
    margin-top: var(--spacer);
    display: flex;
    padding: var(--padding);
    flex-direction: column;
    align-items: center;
    gap: var(--xs-sizing);
    h1 {
        font-size: 44px;
        margin-bottom: 20px;
        background-image:linear-gradient(270deg, black, white 69%);
        background-clip: text;
    }
    h2 {
        font-size: 24px;
        font-family: "Neue Haas", sans-serif;
        color: #636363;
    }
}

.project-img-wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
        object-fit: cover;
        // width: 100%;
    }
}

.two-col-img {
    margin: var(--spacer) ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        width: 48%;
    }
}